torch
torchaudio
transformers
speechrecognition
sentence-transformers
keyboard
pydub
fuzzywuzzy[speedup]
nltk
faiss-cpu
inltk
astai==1.0.57
inltk sentence-transformers torch faiss-cpu scikit-learn torchaudio